
body {
  background-color: darkorchid;
  line-height: 1.2em
}

.text-spin {
  /* border-radius: 50%; */
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
.text-spin:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

