
body {
  background-color: #2B1F50;
  line-height: 1.2em
}

.text-spin {
  /* border-radius: 50%; */
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
  color: white;
}
.text-spin:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.header_icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.shake-that-booty {
  color: white;
  
  @keyframes shake {
    33% {
      @include transform(rotateZ(10deg));
    }
    67% {
      @include transform(rotateZ(-10deg));
    }
    100% {
      @include transform(rotateZ(10deg));
    }
  }

  animation-duration: 0.3s;
  animation-name: shake;
}
